<template name="home">

    <h1>Welcome to the DNS Controller</h1>
    <p>
        This dashboard let's you manage your DNS servers and DNS zones.
    </p>

    <p>
        DNS servers are machines/instances/servers running <a href="https://github.com/DevelopersPL/godnsagent" target="_blank">godnsagent</a> software - a DNS server
        written in Go language, which pulls zones in JSON format.
    </p>

    <p>
        Now that you are logged in, you can proceed to Add or Edit servers and DNS zones.
    </p>

    <p>
        Security notice: Please note that you can only manage and see your own DNS zones and DNS Servers.<br />
        Only your own DNS servers will host your zones!
    </p>

</template>
