<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Daniel Speichert">

    <title>DNS Controller</title>
</head>

<template name="layout">
    {{> status}}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">DNS Controller</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{pathFor 'zonesAdd'}}">Add Zone</a></li>
                    <li><a href="{{pathFor 'serversAdd'}}">Add DNS Server</a></li>
                </ul>
                <form class="navbar-form navbar-right" id="search-form">
                    <input id="search-term" type="text" class="form-control" placeholder="Search (regexp)...">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{> menu}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{> yield}}
        </div>
    </div>
</template>

<template name="menu">
    {{#if currentUser}}
    <h5>Welcome {{currentUser.profile.name}}!</h5>
    {{>loginButtons}}
    {{/if}}

    <ul class="nav nav-sidebar">
        <li class={{isCurrentRoute 'zonesList'}}><a href="{{pathFor 'zonesList'}}">List your DNS zones <span class="badge">{{zones_count}}</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class={{isCurrentRoute 'serversList'}}><a href="{{pathFor 'serversList'}}">List your DNS servers  <span class="badge">{{servers_count}}</span></a></li>
    </ul>
</template>
